@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300&display=swap");
html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

/* Navbar  */
.navbar {
  background-color: white;
}
.navbar-brand {
  color: black !important;
  letter-spacing: 1px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}
.nav-link {
  color: black !important;
  padding-left: 0px !important;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  margin-right: 10px !important;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Navbar End  */

/* Top Section  */
.top-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-details h2 {
  font-weight: 700;
  font-size: 40px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-custom {
  background-color: #ffbd59;
}
.btn-custom-outlined {
  background-color: white;
  border: 0.5px solid #ffbd59;
  margin-left: 15px;
}
@media screen and (max-width: 500px) {
  .top-details {
    min-height: auto;
  }
  .text-container {
    margin-left: 15px;
    margin-right: 15px;
  }
  .img-top {
    padding-top: 30px;
  }
}
/* Carousel  */
.carousel {
  min-height: 50vh;
  padding-top: 30px;
}
.carousel-details {
  min-height: 50vh;
  min-width: 50vw;
}
.carousel-div {
  min-height: 40vh;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
}
.carousel-overlay {
  background-color: #313131ce;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-left: 20px;
}
.carousel-overlay h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
}
.hr-yellow {
  width: 20%;
  border-top-color: #ffbd59;
}
.hr-white {
  width: 2%;
  border-top-color: black;
}
@media screen and (max-width: 500px) {
  .carousel-details {
    min-width: 100vw;
  }
}

/* Special Menu  */
.special-menu {
  min-height: 50vh;
  background-color: rgb(233, 233, 233);
}
.sm-details {
  padding-top: 40px;
  margin-left: 40px;
}
.sm-details h6 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 15px;
}
.sm-details h1 {
  font-size: 40px;
}
.menu-tab {
  margin-left: 40px;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-bottom-color: #ffbd59;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent !important;
  border-bottom-color: #ffbd59 !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tab-card-container {
  overflow: auto;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
.img-card {
  min-height: 40vh;
  width: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 500px) {
  .sm-details {
    margin-left: 10px;
  }
  .sm-details h1 {
    font-size: 30px;
  }
  .menu-tab {
    margin-left: 10px;
  }
  .tab-content {
    padding-left: 0px !important;
  }
}

/* Detail Section  */
.detail-section {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-img-card {
  background-image: url("/src/assets/detail-img.jpeg");
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}
.detail-text-card {
  min-height: 500px;
  width: 400px;
  margin-top: 50px;
  margin-left: -200px;
  border-radius: 5px;
  background-color: #f5c885c5;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(54, 40, 13);
}
.detail-text-card h3 {
  font-family: "Josefin Sans", sans-serif;
}
.detail-text-card div {
  margin: 20px;
}
.detail-text-card h6 {
  font-weight: 600;
  letter-spacing: 5px;
  color: rgb(54, 40, 13);
}

.detail-text-card span {
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 500px) {
  .detail-section {
    margin: 10px;
    flex-direction: column;
  }
  .detail-img-card {
    width: 300px;
    height: 400px;
    margin-bottom: -60px;
    z-index: 1;
  }
  .detail-text-card {
    width: 400px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 0px;
  }
}
@media screen and (max-width: 350px) {
  .detail-text-card {
    width: 350px;
  }
}

/* About  */
.about {
  min-height: 40vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about-text {
  padding-top: 20px;
  margin-left: 20px;
}
.about-text h6 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}
.about-img img {
  width: 300px;
  border-radius: 5px;
  margin-bottom: -500px;
}
.contact {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .about-img img {
    margin-bottom: 0px;
  }
  .about-text {
    margin-left: auto;
  }
  .about-text h1 {
    font-size: 30px;
  }
}

/* Team  */
.team {
  min-height: 60vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.team-photo {
  /* width: 300px; */
  height: 300px;
  border-radius: 50%;
}

/* Testimonial  */
.testimonial {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -150px;
}
.testimonial-content {
  min-height: 20vh;
  background-color: whitesmoke;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
}
.testimonial-content h5 {
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width: 500px) {
  .testimonial {
    margin-bottom: 0px;
  }
}

/* Map  */
.map {
  margin-bottom: -8px !important;
}
.map-view {
  width: 100vw;
  min-height: 50vh;
}

/* Footer  */
.footer {
  min-height: 40vh;
  background-color: #ffbd59;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer h6 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 20px;
}
.fa {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
}
.footer p {
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 500px) {
  .footer h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
  }
}
